In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\tamal\Documents\Fifa_World_Cup_Project\WorldCupPlayers.csv")
df

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN
...,...,...,...,...,...,...,...,...,...
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN

In [3]:
# Step 1: Handle missing values
# Replace missing positions with 'Unknown'
df['Position'].fillna('Unknown', inplace=True)
# Replace missing events with 'No Event'
df['Event'].fillna('No Event', inplace=True)

C:\Users\tamal\AppData\Local\Temp\ipykernel_18464\3044033789.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Position'].fillna('Unknown', inplace=True)
C:\Users\tamal\AppData\Local\Temp\ipykernel_18464\3044033789.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Event'].fillna('No Event', inplace=True)

In [7]:
# Step 2: Fix incorrect shirt numbers
# Replace shirt numbers with 0 as NaN
df['Shirt Number'].replace(0, pd.NA, inplace=True)
missing_values = df.isnull().sum()

In [8]:
df.head()

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,<NA>,Alex THEPOT,GK,No Event
1,201,1096,MEX,LUQUE Juan (MEX),S,<NA>,Oscar BONFIGLIO,GK,No Event
2,201,1096,FRA,CAUDRON Raoul (FRA),S,<NA>,Marcel LANGILLER,Unknown,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,<NA>,Juan CARRENO,Unknown,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,<NA>,Ernest LIBERATI,Unknown,No Event

In [9]:
df.to_csv("Cleaned_WorldCupPlayerss.csv", index=False)